body {
    color: #999;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}
.form-control {
    box-shadow: none;
    border-color: #ddd;
}
.form-control:focus {
    border-color: #4aba70; 
}
.login-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px 0;
    margin-top: 100px;
}
.login-form form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.login-form .avatar {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    background: #28a745;;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar i {
    font-size: 62px;
}
.login-form .form-group {
    margin-bottom: 20px;
}
.login-form .form-control, .login-form .btn {
    min-height: 40px;
    border-radius: 2px; 
    transition: all 0.5s;
}
.login-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
/*.login-form .btn {
    background: #19b0f6;
    border: none;
    line-height: normal;
}*/
.login-form .btn:hover, .login-form .btn:focus {
    background: #208537;
}
.login-form .checkbox-inline {
    float: left;
}
.login-form input[type="checkbox"] {
    margin-top: 2px;
}
.login-form .forgot-link {
    float: right;
}
.login-form .small {
    font-size: 13px;
}
.login-form a {
    color: #24963e;
}

.logo {
    width: 17%;
    height: 6vh;
    padding-left: 2%;
    /*-webkit-filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white) 
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);*/
}
.middle {
    padding:.2% 0;
}
.profile {
    width: 150px;
    height: 150px;
}
.footer {
    height: 3vh;
}
.viewBtn {
    width: 300px;
}
.contentDiv {
    margin-top: 100px;
    margin-bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

th { white-space: nowrap; }

.red {
  color: #d65d5d !important;
}

a.dropdown-item:hover {
    background-color: #4ca64c;
    background-image: none;
}

.noteFile {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 12px;
    /*color: red;*/
}

.fileBtn {
  width: 19%;
}

.menu {
    background-color: #198c19;
    padding: 2px;
    margin-right: 5px;
    border-radius: 5px;
}

.menuLbl {
    color: white !important;
}

#dateLbl {
    margin-right: 8px;
}

.btnExport {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
}

.domainView {
    text-align: left;
}

.inputUpload {
    width: 100% !important;
}

.modalProfile{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

.tableViewLbl {
    width: 40%;
    font-weight: bold;
}

.tableViewData {
    width: 50%;
}

 /* Loading */
.plswait_overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.35);
    color:white;
    line-height: 700px;
    position: fixed;
    top:0;
    bottom: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    overflow-x: hidden;
}

.dots span {
    animation: dots-1 1s infinite steps(1);
    -webkit-animation: dots-1 1s infinite steps(1);
}
.dots span:first-child + span {
    animation-name: dots-2;
    -webkit-animation-name: dots-2;
}

.dots span:last-child + span {
    animation-name: dots-3;
    -webkit-animation-name: dots-3;
}

 /* Loading text animation */
@keyframes dots-1 { 0% { opacity: 0; } 25% { opacity: 1; } }
@keyframes dots-2 { 0% { opacity: 0; } 50% { opacity: 1; } }
@keyframes dots-3 { 0% { opacity: 0; } 75% { opacity: 1; } }
@-webkit-keyframes dots-1 { 0% { opacity: 0; } 25% { opacity: 1; } }
@-webkit-keyframes dots-2 { 0% { opacity: 0; } 50% { opacity: 1; } }
@-webkit-keyframes dots-3 { 0% { opacity: 0; } 75% { opacity: 1; } }