#main-nav{
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}
.container {
  margin: 0 auto;
  max-width: 1680px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
#filter-trigger{
	position: fixed;
  top: 8rem;
  left: 0;
}

#whois-table span {
	font-size: 14px; 
}

.success_status{
  background: #d0ffd0;
}
.error_status{
  background: #ffdce1;
}
.missing_status{
  background: #fffdcb;
}
.sortby:hover{
  cursor:pointer;
  color:#26a69a;
}
/*
* LOADING
*/
#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    top: 0;
}
#loading .preloader-wrapper {
    left: 50%;
    top: 25%;
}
#loading .spinner-layer{
    color:#26a69a;
}

